<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        {{>header}}
        <p><img src="/img/hyperledger-logo.png"></p>
        {{>footer}}
    </body>

</html>